@model Group

@{
    ViewData["Title"] = "Create group";
}

<div class="container">
    <h2>Group Creating</h2>
    <form asp-action="CreateGroup" asp-route-courseId="@Model.COURSE_ID" method="post">

        <div class="form-group">
            <label asp-for="NAME"></label>
            <input class="form-control" asp-for="NAME" />
            <span asp-validation-for="NAME" class="text-danger"></span>
        </div>

        <input type="hidden" name="courseId" value="@Model.COURSE_ID" />

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-secondary" asp-action="Groups" asp-route-courseId="@Model.COURSE_ID">Cancel</a>
        </div>
    </form>
</div>